.footer {
    position: fixed;
    background-color: black;
    text-align: center;
    color: ghostwhite;
    left:0;
    bottom:0;
    right:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: .75em;
    font-weight: normal;
  }
  
  .footerLink:link {
    color: ghostwhite;
  }
  
  .footerLink:hover {
    color: aqua;
  }
  
  .footerLink:visited {
    color: ghostwhite;
  }